<!-- index.nunjucks -->
{% extends "layout.html" %}
<!--TITLE setting-->
{% block title %}
    進貨管理
{% endblock %}
<!--Nav setting-->
{% block navigation %}
{% import 'macros/nav.html' as nav %}
<!-- Set navitem to active -->
{{nav.active('purchase')}}
{% endblock %}

<!-- 內容 -->
{% block content %}
<div class="page-title">
    <h3>進貨管理</h3>
    {% include "macros/breadcrumb.html" %}
</div>
<form class="search-area">
    <div class="row g-3">
        <div class="col-md-3">
            <label for="">依欄位查詢</label>
            <div class="row g-2">
                <div class="col">
                    <select class="form-select" aria-label="">
                        <option selected>請選擇</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="col">
                  <input type="text" class="form-control" placeholder="請輸入" aria-label="">
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <label for="">原物料類型</label>
            <select class="form-select" aria-label="">
                <option selected>請選擇</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="">原物料</label>
            <select class="form-select" aria-label="">
                <option selected>請選擇</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col d-flex align-items-end">
            <button class="btn btn-color02 search-btn me-2" type="submit"><i class="fas fa-search me-2"></i>查詢</button>
            <button class="btn btn-secondary search-btn" type="submit">列出全部</button>
        </div>
    </div>
</form>
<div class="list-area p-3 mt-3 bg-white">
    <div class="mb-2">
        <button class="btn btn-color01 btn-sm me-1" onclick="javascript:location.href='#'"><i class="fa fa-plus-circle  me-2" aria-hidden="true"></i>新增</button>
        <button class="btn btn-danger btn-sm me-1"><i class="far fa-trash-alt me-2" aria-hidden="true"></i>刪除</button>
    </div>
    <div class="table m-0">
        <div class="row list-header">
            <div class="cell"></div>
            <div class="cell">項次</div>
            <div class="cell">進貨單號</div>
            <div class="cell">發票號碼</div>
            <div class="cell">廠商名稱</div>
            <div class="cell">下單日期</div>
            <div class="cell">進貨日期</div>
            <div class="cell">進貨品項</div>
            <div class="cell">總金額</div>
            <div class="cell">付款狀態</div>
            <div class="cell">歷程紀錄</div>
        </div>
        <div class="row list-body">
            <div class="cell" data-title="選取">
                <div class="d-inline-block p-0">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </div>
            </div>
            <div class="cell" data-title="項次">1</div>
            <div class="cell" data-title="進貨單號">
                <a href="purchase-detail.html" class="link-color p-0">20230605001</a></div>
            <div class="cell" data-title="發票號碼">DM19202910</div>
            <div class="cell" data-title="廠商名稱">XXX名稱</div>
            <div class="cell" data-title="下單日期">2023/05/06</div>
            <div class="cell" data-title="進貨日期">2023/05/06</div>
            <div class="cell" data-title="進貨品項">
                <div class="p-0"><span class="tag">耗材</span>AAA、BBB</div>
                <div class="p-0"><span class="tag">原物料</span>AAA、BBB</div>
            </div>
            <div class="cell" data-title="總金額">5,695</div>
            <div class="cell" data-title="付款狀態"><span class="text-danger p-0">尚未付款</span></div>
            <div class="cell" data-title="歷程紀錄"><a href="#" class="link-secondary p-0"><i class="fas fa-history fa-lg"></i></a></div>      
        </div>
        <div class="row list-body">
            <div class="cell" data-title="選取">
                <div class="d-inline-block p-0">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </div>
            </div>
            <div class="cell" data-title="項次">1</div>
            <div class="cell" data-title="進貨單號">
                <a href="#" class="link-color p-0">20230605001</a></div>
            <div class="cell" data-title="發票號碼">DM19202910</div>
            <div class="cell" data-title="廠商名稱">XXX名稱</div>
            <div class="cell" data-title="下單日期">2023/05/06</div>
            <div class="cell" data-title="進貨日期">2023/05/06</div>
            <div class="cell" data-title="進貨品項">
                <div class="p-0"><span class="tag">原物料</span>AAA、BBB</div>
            </div>
            <div class="cell" data-title="總金額">5,695</div>
            <div class="cell" data-title="付款狀態"><span class="text-success p-0">完成付款</span></div>
            <div class="cell" data-title="歷程紀錄"><a href="#" class="link-secondary p-0"><i class="fas fa-history fa-lg"></i></a></div>      
        </div>
        <div class="row list-body">
            <div class="cell" data-title="選取">
                <div class="d-inline-block p-0">
                    <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                </div>
            </div>
            <div class="cell" data-title="項次">1</div>
            <div class="cell" data-title="進貨單號">
                <a href="purchase-detail.html" class="link-color p-0">20230605001</a></div>
            <div class="cell" data-title="發票號碼">DM19202910</div>
            <div class="cell" data-title="廠商名稱">XXX名稱</div>
            <div class="cell" data-title="下單日期">2023/05/06</div>
            <div class="cell" data-title="進貨日期">2023/05/06</div>
            <div class="cell" data-title="進貨品項">
                <div class="p-0"><span class="tag">耗材</span>AAA、商品二號商品二號商品二號</div>
            </div>
            <div class="cell" data-title="總金額">5,695</div>
            <div class="cell" data-title="付款狀態"><span class="text-secondary p-0">部分付款</span></div>
            <div class="cell" data-title="歷程紀錄"><a href="#" class="link-secondary p-0"><i class="fas fa-history fa-lg"></i></a></div>      
        </div>
    </div>   
</div>            
{% include "macros/pagination.html" %}
{% endblock %}
<!-- 單獨引用 js 放置處 -->
{% block js %}
<!-- <script></script> -->
{% endblock %}