<!-- index.nunjucks -->
{% extends "layout.html" %}
<!--TITLE setting-->
{% block title %}
    銷貨設定-新增
{% endblock %}
<!--Nav setting-->
{% block navigation %}
{% import 'macros/nav.html' as nav %}
<!-- Set navitem to active -->
{{nav.active('')}}
{% endblock %}

<!-- 內容 -->
{% block content %}
<div class="page-title">
    <h3>銷貨設定-新增</h3>
    {% include "macros/breadcrumb.html" %}
</div>
<form class="search-area">
    <h6 class="detail-title"><span>銷貨資料</span></h6>
    <div class="row g-3">
        <div class="col-md-3">
            <label for="">訂單編號</label>
            <input type="text" class="form-control" placeholder="請輸入" aria-label="">
        </div>
        <div class="col-md-3">
            <label for="">訂購人</label>
            <input type="text" class="form-control" placeholder="請輸入" aria-label="">
        </div>
        <div class="col-md-3">
            <label for="">銷貨日期</label>
            <input type="date" class="form-control" placeholder="" aria-label="">
        </div>
        <div class="col-md-3">
            <label for="">聯絡方式</label>
            <input type="text" class="form-control" placeholder="請輸入" aria-label="">
        </div>
        <div class="col-md-3">
            <label for="">寶寶資訊</label>
            <input type="text" class="form-control" placeholder="請輸入" aria-label="">
        </div>
        <div class="col-md-3">
            <label for="">資訊得知方式</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>請選擇</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="">接洽人</label>
            <input type="text" class="form-control" placeholder="請輸入" aria-label="">
        </div>
        <div class="col-md-3">
            <label for="">匯款帳號</label>
            <input type="text" class="form-control" placeholder="請輸入" aria-label="">
        </div>
        <div class="col-md-3">
            <label for="">付款狀態</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>請選擇</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="">出貨狀態</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>請選擇</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="">備註</label>
            <input type="text" class="form-control" placeholder="請輸入" aria-label="">
        </div>
    </div>
    <h6 class="detail-title mt-3"><span>訂購人地址</span></h6>
    <div class="row g-3">
        <div class="col-md-3">
            <label for="">縣市</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>請選擇</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-3">
            <label for="">鄉鎮</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>請選擇</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        <div class="col-md-6">
            <label for="">地址</label>
            <input type="text" class="form-control" placeholder="請輸入" aria-label="">
        </div>
    </div>
</form>
<div class="list-area p-3 mt-3 bg-white">
    <h6 class="detail-title"><span>送貨與商品</span></h6>
    <div class="mt-3 mb-2">
        <button class="btn btn-color01 btn-sm me-1" onclick="javascript:location.href='#'"><i class="fa fa-plus-circle  me-2" aria-hidden="true"></i>新增送貨地址</button>
        <button class="btn btn-danger btn-sm me-1"><i class="far fa-trash-alt me-2" aria-hidden="true"></i>刪除</button>
    </div>
    <div class="sales-product">
        <div class="row g-1">
            <div class="col-md-auto d-flex align-items-center">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="CheckDefault">
                    <label class="form-check-label" for="CheckDefault"></label>
                </div>
            </div>
            <div class="col-md-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>配送方式</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>縣市</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md-2">
                <select class="form-select" aria-label="Default select example">
                    <option selected>鄉鎮</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-md">
                <input type="text" class="form-control" placeholder="請輸入地址" aria-label="">
            </div>
            <div class="col-auto">
                <a class="btn arrow-open" data-bs-toggle="collapse" href="#collapseContent" role="button" aria-expanded="false" aria-controls="collapseContent"><i class="fas fa-angle-down fa-lg"></i></a>
            </div>
        </div>
        <div class="collapse" id="collapseContent">
          <div class="card card-body">sdf
          </div>
        </div>
    </div>
</div>   
<div class="d-flex justify-content-end">
    <div class="mt-3 col-md-2 purchase-total">
        <div class="row g-0">
            <div class="col-md">
                <div class="total-title text-end rounded-top">總預估成本</div>
                <div class="fw-bold text-end px-3 py-2">60 元</div>
            </div>
        </div>  
    </div>   
</div>  
<div class="bottom-btn-group">
    <button type="button" class="btn btn-secondary btn-sm px-3" onclick="javascript:location.href='zero-activity.html'"><i class="far fa-times-circle me-2"></i>取消</button>
    <button type="button" class="btn btn-color01 btn-sm px-3"><i class="fas fa-save me-2"></i>暫存</button>
</div>       
{% endblock %}