<!-- index.nunjucks -->
{% extends "layout.html" %}
<!--TITLE setting-->
{% block title %}
    存貨管理
{% endblock %}
<!--Nav setting-->
{% block navigation %}
{% import 'macros/nav.html' as nav %}
<!-- Set navitem to active -->
{{nav.active('stock')}}
{% endblock %}

<!-- 內容 -->
{% block content %}
<div class="page-title">
    <h3>存貨管理</h3>
    {% include "macros/breadcrumb.html" %}
</div>
<div class="tabs-item">
    <ul class="nav nav-pills mt-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-stock-tab" data-bs-toggle="pill" data-bs-target="#pills-stock" type="button" role="tab" aria-controls="pills-stock" aria-selected="true">原物料庫存</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-cake-tab" data-bs-toggle="pill" data-bs-target="#pills-cake" type="button" role="tab" aria-controls="pills-cake" aria-selected="false">庫存蛋糕</button>
        </li>
    </ul>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade show active" id="pills-stock" role="tabpanel" aria-labelledby="pills-stock-tab" tabindex="0">
    <form class="search-area">
        <div class="row g-3">
            <div class="col-md-6">
                <label for="">依欄位查詢</label>
                <div class="row g-2">
                    <div class="col">
                        <select class="form-select" aria-label="">
                            <option selected>請選擇</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="請輸入" aria-label="">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <label for="">類別</label>
                <select class="form-select" aria-label="">
                    <option selected>請選擇</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col d-flex align-items-end">
                <button class="btn btn-color02 search-btn me-2" type="submit"><i class="fas fa-search me-2"></i>查詢</button>
                <button class="btn btn-secondary search-btn" type="submit">列出全部</button>
            </div>
        </div>
    </form>
    <div class="list-area p-3 mt-3 bg-white">
        <div class="mb-2">
            <button class="btn btn-color01 btn-sm me-1" onclick="javascript:location.href='#'"><i class="fa fa-plus-circle  me-2" aria-hidden="true"></i>新增</button>
            <button class="btn btn-danger btn-sm me-1"><i class="far fa-trash-alt me-2" aria-hidden="true"></i>刪除</button>
        </div>
        <div class="table m-0">
            <div class="row list-header">
                <div class="cell"></div>
                <div class="cell">項次</div>
                <div class="cell">類別</div>
                <div class="cell">品項/商品</div>
                <div class="cell">待出貨數量</div>
                <div class="cell">已出貨數量</div>
                <div class="cell">預存數量</div>
                <div class="cell">庫存數量</div>
                <div class="cell">備註</div>
                <div class="cell">編輯</div>
                <div class="cell">歷程紀錄</div>
            </div>
            <div class="row list-body">
                <div class="cell" data-title="選取">
                    <div class="d-inline-block p-0">
                        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    </div>
                </div>
                <div class="cell" data-title="項次">1</div>
                <div class="cell" data-title="類別">耗材</div>
                <div class="cell" data-title="品項/商品">商品名稱</div>
                <div class="cell" data-title="待出貨數量">101</div>
                <div class="cell" data-title="已出貨數量">101</div>
                <div class="cell" data-title="預存數量">101</div>
                <div class="cell" data-title="庫存數量">101</div>
                <div class="cell" data-title="備註">-</div>
                <div class="cell" data-title="編輯"><a href="#" class="link-color p-0"><i class="fas fa-edit fa-lg"></i></a></div>
                <div class="cell" data-title="歷程紀錄"><a href="#" class="link-secondary p-0"><i class="fas fa-history fa-lg"></i></a></div>      
            </div>
            <div class="row list-body">
                <div class="cell" data-title="選取">
                    <div class="d-inline-block p-0">
                        <input class="form-check-input" type="checkbox" id="checkboxNoLabel" value="" aria-label="...">
                    </div>
                </div>
                <div class="cell" data-title="項次">1</div>
                <div class="cell" data-title="類別">耗材</div>
                <div class="cell" data-title="品項/商品">商品名稱</div>
                <div class="cell" data-title="待出貨數量">101</div>
                <div class="cell" data-title="已出貨數量">101</div>
                <div class="cell" data-title="預存數量">101</div>
                <div class="cell" data-title="庫存數量">101</div>
                <div class="cell" data-title="備註">-</div>
                <div class="cell" data-title="編輯"><a href="#" class="link-color p-0"><i class="fas fa-edit fa-lg"></i></a></div>
                <div class="cell" data-title="歷程紀錄"><a href="#" class="link-secondary p-0"><i class="fas fa-history fa-lg"></i></a></div>      
            </div>
        </div>   
    </div>  
    {% include "macros/pagination.html" %}
  </div>
  <div class="tab-pane fade" id="pills-cake" role="tabpanel" aria-labelledby="pills-cake-tab" tabindex="0">
    sdf
  </div>
</div>          
{% endblock %}